In [1]:
import csv
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
from datetime import datetime, date, time
import numpy as np
import pandas as pd


filename = '/Users/koitaroh/Documents/GitHub/GeoTweetCollector/data/tweetphangan6.csv'

ImportError: No module named 'matplotlib'

In [3]:
tweet_df = pd.read_csv(filename)

In [4]:
tweet_df[:3]
# 212581
# tweet_df[212581:212584]
# 2938465
# tweet_df[2938450:2938453]
# tweet_df_2 = tweet_df[212581:2938453]

,Unnamed: 0,Unnamed: 0.1,id,tweet_id,datetime,time,user_name,user_id,x,y,raw_tweet,words,nouns,verbs,adjs,weekday,hour,x_index,y_index
0,212581,212581,212595,577846851891675136,2015-03-18 00:00:00,00:00:00,tai3kote7,2811126049,139.640938,35.526726,春の風の香りが夏の風の香りに変わってきたなー！って,春 の 風 の 香り が 夏 の 風 の 香り に 変わっ て き た なー ！ って,春 風 香り 夏 風 香り,変わる くる,NaN,2,0,13964,3552
1,212582,212582,212596,577846852126572544,2015-03-18 00:00:00,00:00:00,musicring_k,492282436,134.174040,35.503841,スズキのアルトターボRSのCMソングがDeep PurpleのSpeed Kingだが誰かの...,スズキ の アルト ターボ RS の CM ソング が Deep Purple の Spee...,スズキ アルト ターボ RS CM ソング Deep Purple Speed King 誰...,使う,NaN,2,0,13417,3550
2,212583,212583,212597,577846852508213248,2015-03-18 00:00:00,00:00:00,tanapi0007,2795740640,140.469788,36.373574,頑張るm(._.)m,頑張る m (._.) m,m (._.) m,頑張る,NaN,2,0,14046,3637

In [5]:
tweet_df.dtypes

Unnamed: 0        int64
Unnamed: 0.1      int64
id                int64
tweet_id          int64
datetime         object
time             object
user_name        object
user_id           int64
x               float64
y               float64
raw_tweet        object
words            object
nouns            object
verbs            object
adjs             object
weekday           int64
hour              int64
x_index           int64
y_index           int64
dtype: object

In [5]:
tweet_df.index.summary()

'Int64Index: 5029 entries, 0 to 5028'

In [6]:
tweet_df_time = tweet_df['datetime']
temp = pd.DatetimeIndex(tweet_df['datetime'])
# temp = tweet_df['datetime'].dt.weekday
tweet_df['weekday'] = temp.weekday
tweet_df['hour'] = temp.hour
tweet_df['x_index'] = (tweet_df['x']/0.01).astype(int)
tweet_df['y_index'] = (tweet_df['y']/0.01).astype(int)

tweet_df[:5]

,id,tweet_id,datetime,time,user_name,user_id,x,y,raw_tweet,words,nouns,verbs,adjs,weekday,hour,x_index,y_index
0,1,577696760300113921,2015-03-17 14:03:35,14:03:35,0912momona_f,2171987316,139.360370,35.392547,"よろしく,(^∞,^)",よろしく (^∞ ^),(^∞ ^),NaN,NaN,1,14,13936,3539
1,2,577696761126350848,2015-03-17 14:03:35,14:03:35,KohseiBbp1211,2337878624,133.011152,33.853656,急遽決まった松山！！しんごとむっくんと３人でいきよるなう,急遽 決まっ た 松山 ！ ！ しん ごと むっくんと ３ 人 で いき よる なう,松山 しん ごと むっくんと ３ 人,決まる いきる よる,ない,1,14,13301,3385
2,3,577696761797427200,2015-03-17 14:03:35,14:03:35,69magic_s,2832023864,139.771677,35.626511,お台場なう♡♡♡♡たのしんでます、わら,お 台場 なう ♡♡♡♡ たのしん で ます 、 わら,台場 ♡♡♡♡ わら,たのしむ,ない,1,14,13977,3562
3,4,577696764368535552,2015-03-17 14:03:36,14:03:36,ongakuakaunto,1851868231,136.903085,35.166232,ﾐｽﾐｽﾐｽ。笑,ﾐｽﾐｽﾐｽ 。 笑,ﾐｽﾐｽﾐｽ 笑,NaN,NaN,1,14,13690,3516
4,5,577696764175785984,2015-03-17 14:03:36,14:03:36,ran5,569055211,137.244823,35.404944,欲しい神話は、アタルカ、シムルガル、ナーセット、サルカン、緑のおっさん。かな、あくまで今の所だけど,欲しい 神話 は 、 アタルカ 、 シムルガル 、 ナーセット 、 サル カン 、 緑 の ...,神話 アタルカ シムルガル ナーセット サル カン 緑 おっさん 今 所,NaN,欲しい,1,14,13724,3540

In [28]:
# tweet_df[temp == dft[datetime(2015, 3, 17):datetime(2015,3,18)]][:5]
# tweet_df.truncate(before=212583, after=212585)
tweet_df[212582:212584]
tweet_df[2938464:2938466]

In [22]:
# tweet_df.to_csv('/Users/koitaroh/Documents/GitHub/GeoTweetCollector/data/tweet_df_20150317142836_test.csv', encoding='utf-8')
# tweet_df.to_csv('/Users/koitaroh/Documents/GitHub/GeoTweetCollector/data/tweet_df_20150317142835.csv', encoding='utf-8')
# tweet_df_2.to_csv('/Users/koitaroh/Documents/GitHub/GeoTweetCollector/data/tweet_df_20150318_20150324.csv', encoding='utf-8')

In [6]:
tweet_df_counts = tweet_df['user_id'].value_counts()
tweet_df_counts[:20]

853426070     7543
891296444     6849
2810810232    6660
1597079226    6400
1589443879    5498
1069106276    5476
1601247397    5194
1584197490    5050
1178442961    4876
2164902108    4597
2271730350    2678
384889871     2433
2471221418    2001
213287133     1896
2651647927    1573
252911218     1390
2859763566    1381
1413112920    1355
2687077062    1302
2691997471    1271
dtype: int64

In [7]:
tweet_df_counts[:100].plot(kind='bar')

# tweet_df['hour'].plot(kind='hist');
# tweet_df.hist('hour', bins=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24], align='right')
# tweet_df.hist('weekday', bins=[0,1,2,3,4,5,6,7])
plt.show()

In [8]:
# tweet_df_counts[:20].plot(kind='bar')
# plt.figure();
# tweet_df['hour'].plot(kind='hist');
tweet_df.hist('hour', bins=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24], align='right')
tweet_df.hist('weekday', bins=[0,1,2,3,4,5,6,7])
plt.show()

In [ ]:
tweet_df.hist('x_index')
plt.show()

In [7]:
reader = csv.reader(open(filename, encoding="utf-8"))
next(reader)
dt = datetime.strptime("21/11/06 16:30", "%d/%m/%y %H:%M")
print(dt)
dt2 = datetime.strptime("2015-03-17 14:03:35", "%Y-%m-%d %H:%M:%S")
print(dt2)

2006-11-21 16:30:00
2015-03-17 14:03:35

In [8]:
for id, tweet_id, datetime_str, time_str, user_name, user_id, x_str, y_str, raw_tweet, words, nouns, verbs, adjs in reader:
    tweet_datetime = datetime.strptime(datetime_str, "%Y-%m-%d %H:%M:%S")
    if tweet_datetime.weekday() < 5:
        continue

In [1]:
# classify tweets into 7 day classes
# if monday, tuesday, wednesday, thursday, friday, saturday, sunday.
ret = csv.reader(open(filename, encoding="utf-8"))
tweets = [r[9] for r in ret]
tweets2 = []
for tweet in tweets[:]:
    tweet2 = tweet.replace(',', ' ')
    # print(tweet)
    print(tweet2)
    tweets2.append(tweet2)
    # if u'@' in tweet2:
    #     tweets.remove(tweet)
    # if len(tweet) <= 3:
    #     tweets.remove(tweet)
# print(tweets2)

In [ ]:
# classify tweets into 48 classes (in every 30 min)