In [1]:
import csv
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
from datetime import datetime, date, time
import numpy as np
import pandas as pd


# If dataframe is already created
filename = '/Users/koitaroh/Documents/GitHub/GeoTweetCollector/data/tweet_df_20150317142835.csv'
# filename = '/Users/koitaroh/Documents/GitHub/GeoTweetCollector/data/tweet_df_20150317142836_test.csv'
# filename = '/Users/koitaroh/Documents/GitHub/GeoTweetCollector/data/tweet_df_20150317140245.csv'
# filename = '/Users/koitaroh/Documents/GitHub/GeoTweetCollector/data/tweet_20150318_20150324_2.csv'
# filename = '/Users/koitaroh/Documents/GitHub/GeoTweetCollector/data/tweet_df_20150318_20150324.csv'

In [2]:
tweet_df = pd.read_csv(filename)

In [3]:
tweet_df[:3]

,Unnamed: 0,id,tweet_id,datetime,time,user_name,user_id,x,y,raw_tweet,words,nouns,verbs,adjs,weekday,hour,t_index,x_index,y_index
0,0,1,577703054826340352,2015-03-17 14:28:36,14:28:36,____ddt,147847766,139.616209,35.643938,私は泣かない,私 は 泣か ない,私,泣く,NaN,1,14,2015031714,13961,3564
1,1,2,577703055233167360,2015-03-17 14:28:36,14:28:36,syu0330ex,2255175997,139.619670,35.463953,モンストでマルチしない？「初陣（火山の精霊）」,モン スト で マルチ し ない ？ 「 初陣 （ 火山 の 精霊 ） 」,モン スト マルチ 初陣 火山 精霊,する,NaN,1,14,2015031714,13961,3546
2,2,3,577703056504066048,2015-03-17 14:28:36,14:28:36,oragalxx,1473063283,131.605964,33.416199,違うよヽ(‘ ∇‘ )ノ,違う よ ヽ (‘ ∇‘ ) ノ,(‘ ∇‘ ),違う,NaN,1,14,2015031714,13160,3341

In [24]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5029 entries, 0 to 5028
Data columns (total 19 columns):
Unnamed: 0    5029 non-null int64
id            5029 non-null int64
tweet_id      5029 non-null int64
datetime      5029 non-null object
time          5029 non-null object
user_name     5029 non-null object
user_id       5029 non-null int64
x             5029 non-null float64
y             5029 non-null float64
raw_tweet     5000 non-null object
words         5000 non-null object
nouns         4732 non-null object
verbs         3243 non-null object
adjs          1492 non-null object
weekday       5029 non-null int64
hour          5029 non-null int64
t_index       5029 non-null int64
x_index       5029 non-null int64
y_index       5029 non-null int64
dtypes: float64(2), int64(9), object(8)
memory usage: 785.8+ KB

In [4]:
outdir = '/Users/koitaroh/Documents/GitHub/GeoTweetCollector/data/ClassifiedTweet_20150709/'
t_index = ""
x_index = ""
y_index = ""
words = ""
for index, row in tweet_df.iterrows():
    t_index = str(row['t_index'])
    x_index = str(row['x_index'])
    y_index = str(row['y_index'])
    words = str(row['words'])
    workfile = t_index + "_" + x_index + "_" + y_index + ".txt"
    f = open(outdir + workfile, 'a')
    f.write(words + "\n")
    f.close()