In [9]:
import csv
from datetime import datetime, date, time
import numpy as np
import pandas as pd

filename = '/Users/koitaroh/Documents/GitHub/GeoTweetCollector/data/tweet_table_20150317140247.csv'

In [11]:
tweet_df = pd.read_csv(filename)

In [12]:
tweet_df[:3]

,id,tweet_id,datetime,time,user_name,user_id,x,y,raw_tweet,words,nouns,verbs,adjs
0,1,577696760300113921,2015-03-17 14:03:35,14:03:35,0912momona_f,2171987316,139.360370,35.392547,"よろしく,(^∞,^)",よろしく (^∞ ^),(^∞ ^),NaN,NaN
1,2,577696761126350848,2015-03-17 14:03:35,14:03:35,KohseiBbp1211,2337878624,133.011152,33.853656,急遽決まった松山！！しんごとむっくんと３人でいきよるなう,急遽 決まっ た 松山 ！ ！ しん ごと むっくんと ３ 人 で いき よる なう,松山 しん ごと むっくんと ３ 人,決まる いきる よる,ない
2,3,577696761797427200,2015-03-17 14:03:35,14:03:35,69magic_s,2832023864,139.771677,35.626511,お台場なう♡♡♡♡たのしんでます、わら,お 台場 なう ♡♡♡♡ たのしん で ます 、 わら,台場 ♡♡♡♡ わら,たのしむ,ない

In [27]:
tweet_df_time = tweet_df['datetime']
temp = pd.DatetimeIndex(tweet_df['datetime'])
# temp = tweet_df['datetime'].dt.weekday
tweet_df['weekday'] = temp.weekday
tweet_df['hour'] = temp.hour
tweet_df[2000:2005]

,id,tweet_id,datetime,time,user_name,user_id,x,y,raw_tweet,words,nouns,verbs,adjs,weekday,hour
2000,2001,577698752724516865,2015-03-17 14:11:30,14:11:30,msa_fam,723918722,140.564856,39.310917,(*ｐω-)｡O゜おやすみしたいぐらいいい天気。,(* ｐ ω -)｡ O ゜ お やすみ し たい ぐらい いい 天気 。,(* -)｡ O 天気,やすむ する,いい,1,14
2001,2002,577698752984563712,2015-03-17 14:11:30,14:11:30,rina990416,2521860966,139.595895,35.587381,らいんほしい。,らい ん ほしい 。,らい,NaN,ほしい,1,14
2002,2003,577698755039784960,2015-03-17 14:11:30,14:11:30,Riko717T,2439297914,130.742838,32.745063,え、なにが？笑,え 、 なに が ？ 笑,なに 笑,NaN,NaN,1,14
2003,2004,577698761343795200,2015-03-17 14:11:32,14:11:32,A94921125,3092079968,139.103056,36.388713,ラジャψ(｀∇´)ψ乳さん、ありがと〜サムライのトップに表示されるのはどうすんのかな？乳さん...,ラジャ ψ (｀∇´) ψ 乳 さん 、 ありがと 〜 サムライ の トップ に 表示 さ ...,ラジャ (｀∇´) 乳 さん サムライ トップ 表示 の の 乳 さん トップ 表示 募集 ...,する れる する する する くれる,NaN,1,14
2004,2005,577698761209589760,2015-03-17 14:11:32,14:11:32,redgittu,449817667,137.739394,34.710356,自分は、お汁粉かな～。小豆の甘さと、焼いたまる餅がなんとも美味しいです。,自分 は 、 お 汁粉 か な ～。 小豆 の 甘 さ と 、 焼い た まる 餅 が なん...,自分 汁粉 ～。 小豆 さ 餅,焼く,甘い 美味しい,1,14

In [30]:
tweet_df_counts = tweet_df['user_id'].value_counts()
tweet_df_counts[:20]

449817667     19
3075263383    18
569055211     16
2950197445    16
2803136088    12
620207919     12
2381583410    11
2297652984    11
2164902108    11
2939329688    10
2953533997     9
2691580958     9
2992340460     9
181098634      8
2948873400     8
2794370392     8
1948963284     8
2501347940     8
2752253265     8
1399828956     7
dtype: int64

In [31]:
tweet_df_counts[:30].plot(kind='bar')

In [3]:
reader = csv.reader(open(filename, encoding="utf-8"))
next(reader)
dt = datetime.strptime("21/11/06 16:30", "%d/%m/%y %H:%M")
print(dt)
dt2 = datetime.strptime("2015-03-17 14:03:35", "%Y-%m-%d %H:%M:%S")
print(dt2)

2006-11-21 16:30:00
2015-03-17 14:03:35

In [15]:
for id, tweet_id, datetime_str, time_str, user_name, user_id, x_str, y_str, raw_tweet, words, nouns, verbs, adjs in reader:
    tweet_datetime = datetime.strptime(datetime_str, "%Y-%m-%d %H:%M:%S")
    if tweet_datetime.weekday() < 5:
        continue

SyntaxError: unexpected EOF while parsing (<ipython-input-15-2642ad67173a>, line 4)

In [1]:
# classify tweets into 7 day classes
# if monday, tuesday, wednesday, thursday, friday, saturday, sunday.
ret = csv.reader(open(filename, encoding="utf-8"))
tweets = [r[9] for r in ret]
tweets2 = []
for tweet in tweets[:]:
    tweet2 = tweet.replace(',', ' ')
    # print(tweet)
    print(tweet2)
    tweets2.append(tweet2)
    # if u'@' in tweet2:
    #     tweets.remove(tweet)
    # if len(tweet) <= 3:
    #     tweets.remove(tweet)
# print(tweets2)

In [ ]:
# classify tweets into 48 classes (in every 30 min)